modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/wallst-fun run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
HELIUS_RPC_URL = "https://mainnet.helius-rpc.com/?api-key=54385120-20ac-4baa-9774-3f7ba8ccd656"
HELIUS_GATEKEEPER_RPC = "https://beta.helius-rpc.com/?api-key=54385120-20ac-4baa-9774-3f7ba8ccd656"
HELIUS_PARSE_TRANSACTIONS = "https://api-mainnet.helius-rpc.com/v0/transactions/?api-key=54385120-20ac-4baa-9774-3f7ba8ccd656"
HELIUS_PARSE_ADDRESS_TRANSACTIONS = "https://api-mainnet.helius-rpc.com/v0/addresses/{address}/transactions/?api-key=54385120-20ac-4baa-9774-3f7ba8ccd656"
JUPITER_API_KEY = "429e13f2-25f8-4706-9326-24287fa313d4"
X_ACCESS_TOKEN_SECRET = "31l8eHhFToKryVauk1M1z16wVJufJgC4wA8EtifhYcG69"
X_ACCESS_TOKEN = "2036479065784545280-uaTxV4IvL09HqPM019Hh10w0Wx1ZKb"
X_BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAALYk8gEAAAAAoVC9V%2BYq%2BNlVp3LNbGYWN87P6J0%3DQQYKUyqltBeyeUT8KPzONYJON4069dAOGJmGq9TkdRyy1y8urm"

[nix]
packages = ["azure-functions-core-tools"]
